.App {
  text-align: center;
}

.homePageWrapper{
  height : 100vh;
  display : flex;
  align-items: center;
  color: white;
  justify-content: center;
}

.formWrapper{
  background : #282a36; 
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

.inputGroup{
  display: flex;
  flex-direction: column;
   
}

.inputBox{
  padding : 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom : 30px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}

.mainlabel{
  margin-bottom: 20px;
}

.btn{
  width : 25%;
  padding: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinbtn{
  background: #4aed88;
  width : 100px;
  margin-left : auto;
}

.joinbtn:hover{
  background : #2b824c;
}

.createInfo{
  margin : 0 auto;
}

.createNewbtn{
  color : green;
  text-decoration: none;
  border-bottom: 1px solid green;
  transition : all 0.3s ease-in-out;
}

.PageLogo{
  height: 80px;
  margin-bottom: 20px;
}

.mainWrap{
  display: grid;
  grid-template-columns: 230px 1fr;
  height: 100vh;
}

.leftBlock{
  background : #1c1e29;
  padding: 16px;
  color : white;
  display: flex;
  flex-direction: column;
}

.leftInner{
  flex : 1;
}

.clientsList{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap : 20px
}

.client{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.editorLogo{
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}

.leaveRoombtn{
  margin-top: 10px;
  background: #4aed88;
  width: 100%;
  border-radius : 10px;
}

.MainEditor{
  background: #22092c;
}

.CodeMirror{
  min-height: calc(65vh - 9px);
  padding-top: 9px;
  line-height: 1.6;
  font-size: 15px;
}

#outputArea{
  height: auto;
  margin-top: 1.5%;
  margin-left : 2%;
  line-height: 1.6;
  font-size: 15px;
  float: left;
  max-width:100%;
  min-width : 45%;
  resize: none;
  background: #472a3e;
  color: #fff;
  border-radius: 12px;
  border : 5px solid black;
}

.CodeOptions{
  display : flex;
  background-color: #bdd7dd;
  justify-content: center;
  padding-bottom: 0.5%;
  padding-top: 0.2%;
}

.btnop{
  width : 15%;
  padding: 0px 3px 0px 3px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  background: #4aed88;
}
